/* -- Estilos CSS - Webiste */



/* -- Padrões e Reset */



/* -- Tipografia e Cores */

html{
    width: 980px;
        }

body{
    margin-left: 20px;
            
}

header {
    background-color: rgb(228, 228, 228);
    padding-bottom: 0.5px;
    padding-left: 10px;
    overflow: hidden;
    }

#natural{
    margin-top: 0;
}

header h1 {
    margin-bottom: 0;
    padding-top: 10px;
}

.categoria h2{
    border-bottom: 1px solid black;
    font-size: 22px;
}

.subtitulo {
    margin: 0;
}

h3{
    margin-top: 12px;
    margin-bottom: 0px;
}

.colunaprincipal {
    width: 48%;
    float: left;
    padding-left: 10px;
}

aside {
    width:48%;
    float: right;
    margin-top: 152px;
    padding-right: 10px;
}

.fotoperfil img{
    right: 600px;
    top: 50px;
    float: left;
    position: absolute;
    width: 225px;

}

h1, h2 {
    text-transform: uppercase;
}

h2{
    margin-bottom: 7px
}

.descricao{
    text-align: justify;
    margin-top: 7px;
}

.blocoxp img{
    width: 100%;
    padding: 20px 30px 2px 30px ;
    box-sizing: border-box;
}
.date {
    margin: 20px 0 0 0;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;

}

.xp {
    margin-top:0;
}

.xp::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left; 
    background: black;
    margin-left: -22px;
    border: 3px solid white
    
}


.blocoxp1{
    border-left: 4px solid black;
    padding: 1px 0px 2px 10px;
}

.contatos ul li {
    list-style: none;
}

.contatos ul{
    padding: 0;
}

.contatos{
    width: 60%;
    padding-top: 10px;
    margin-top: 0.67em;
    font-size: 1    px;
 
}

.nomenumero {
    width: 40%;
}

.nomenumero, .contatos{
     float: left
}

span{
    font-weight: bold;
    font-size: 16px;

}

a{
    text-decoration: none;
    color: rgb(12, 103, 163);
}

a:hover{
    color: orange;
}
main{
    overflow: hidden;
}
footer{
    background-color: rgb(228, 228, 228);
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

footer p {
    margin:0;
    padding:0;
}

/* -- Estrutura */



/* -- Estilos Específicos da Seção */



/* -- Formulários */



/* -- Tabelas */



/* -- Classes de Uso Geral */


