/* -- Estilos CSS - Webiste */



/* -- Padrões e Reset */



/* -- Tipografia e Cores */

html{
    width: 980px;
        }

body{
    margin-left: 20px;
}

header {
    background-color: rgb(228, 228, 228);
    padding-bottom: 0.5px;
    padding-left: 10px;
    }

#natural{
    margin-top: 0;
}

header h1 {
    margin-bottom: 0;
    padding-top: 10px;
}

.categoria h2{
    border-bottom: 1px solid black;
}

.subtitulo {
    margin: 0;
}

h3{
    margin-top: 12px;
    margin-bottom: 0px;
}

.colunaprincipal {
    width: 48%;
    float: left;
    padding-left: 10px;
}

aside {
    width:48%;
    float: right;
    margin-top: 152px;
    padding-right: 10px;
}

.fotoperfil img{
    right: 600px;
    top: 50px;
    float: left;
    position: absolute;
    width: 225px;

}

h1, h2 {
    text-transform: uppercase;
}

h2{
    margin-bottom: 7px
}

.descricao{
    text-align: justify;
}

/* -- Estrutura */



/* -- Estilos Específicos da Seção */



/* -- Formulários */



/* -- Tabelas */



/* -- Classes de Uso Geral */


